{% extends 'base.html.twig' %}

{% block title %}BSX - Add Option{% endblock %}

{% block body %}
    <h1>Add Option</h1>
    {{ form(form) }}
    <a href="/" class="btn btn-primary">BACK</a>    
{% endblock %}