{% extends 'base.html.twig' %}

{% block title %}BSX - Add Dividend Payment{% endblock %}

{% block body %}
    <h1> Add Dividend Payment</h1>
    {{ form(form) }}
    <a href="/dividends" class="btn btn-primary">BACK</a>  
{% endblock %}