{% extends 'base.html.twig' %}

{% block title %}BSX - Sell Stock{% endblock %}

{% block body %}
    <h1>Sell Stock</h1>
    {{ form(form) }}
    <a href="/" class="btn btn-primary">BACK</a>  
{% endblock %}