{% extends 'base.html.twig' %}

{% block title %}BSX - Ten Percent Plan - Add Week{% endblock %}

{% block body %}
    <h1>Ten Percent Plan - Add Week</h1>
    {{ form(form) }}
    <a href="/tenplan" class="btn btn-primary">BACK</a>    
{% endblock %}