{% extends 'base.html.twig' %}

{% block title %}BSX - Add Wizard{% endblock %}

{% block body %}
    <h1>Add Wizard Play</h1>
    {{ form(form) }}
    <a href="/wizards" class="btn btn-primary">BACK</a>  
{% endblock %}