input.current_price {
      width: 70px;
}

.fail {
      color: red;
}

.hellyeah {
      color: green;
}

.stock_table_logo{
      width:60px;
}

.dividend_table_logo{
      width:80px;
}

.stock_flag {
      width: 60px;
}

.stock_chip_icon{
      display: inline-block;
      width: 60px;
      height: 60px;

      &.type1{
            background: url("/images/blue_chip_joint.png");
      }

      &.type2{
            background: url("/images/blue_chip.png");
      }

      &.type3{
            background: url("/images/red_chip_joint.png");
      }

      &.type4{
            background: url("/images/red_chip.png");
      }
}

.main_logo {
      display: block;
      width: 500px;
      margin: 20px auto;
      border-radius: 30px;

}


// Watch list

.watch_input {
      width: 70px;
}


.arrow{
      &.green{
            color: green;
      }

      &.red{
            color: red;
      }

      &.grey{
            color: gray
      }
}

.status.on{
      color: black;

      &.dead{
            background: url("/images/backgrounds/warning.jpg");
            background-size: 100% 100%;
            color: white;
            text-shadow: 0px 1px 2px black;
            
            &.bad{
                  background: url("/images/backgrounds/dead.jpg");
                  background-size: 100% 100%;
                  color: white;
            }
      }

      &.buy {
            background: url("/images/backgrounds/buyin.jpg");
            background-size: 100% 100%;
            color: white;
            text-shadow: 0px 1px 2px black;
      }

      &.pp {
            background: url("/images/backgrounds/profit.jpg");
            background-size: 100% 100%;
            color: white;
            text-shadow: 0px 1px 2px black;
      }

      &.bronze {
            background: url("/images/backgrounds/bronze.jpg");
            background-size: 100% 100%;
            color: white;
            text-shadow: 0px 1px 2px black;
      }

      &.silver {
            background: url("/images/backgrounds/silver.jpg");
            background-size: 100% 100%;
            color: white;
            text-shadow: 0px 1px 2px black;
      }

      &.gold {
            background: url("/images/backgrounds/gold.jpg");
            background-size: 100% 100%;
            color: white;
            text-shadow: 0px 1px 2px black;
      }

      &.platnum {
            background: url("/images/backgrounds/platnum.jpg");
            background-size: 100% 100%;
            color: white;
            text-shadow: 0px 1px 2px black;
      }

      &.diamond {
            background: url("/images/backgrounds/diamond.jpg");
            background-size: 140% 170%;
            background-position: -40px -10px;
            color: white;
            text-shadow: 0px 1px 2px black;
      }
}

