{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <h1>{{headline}}</h1>
    {{ form(form) }}
    <a href="/" class="btn btn-primary">BACK</a>    
{% endblock %}